video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  background: rgb(255,175,28);
  background: linear-gradient(4deg, rgba(255,175,28,0.7678100263852243) 11%, rgba(252,28,255,0.7678100263852243) 21%, rgba(147,48,196,1) 32%, rgba(228,106,41,0.6517150395778364) 47%, rgba(77,208,91,0.6517150395778364) 62%, rgba(217,33,80,0.6517150395778364) 69%, rgba(15,59,55,0.6517150395778364) 87%);
  align-content: center;
  text-align: center;
  color: whitesmoke;
}

/* This creates the gradient animation effect*/
.card {
  color: whitesmoke;
  background: linear-gradient(270deg, #b51fd1, #04570d, #3237a0, #ef6116);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* Section below places video in the Jumbotron Container*/

.jumbotron {
  position: relative;
  overflow: hidden;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(255,28,128);
  background: linear-gradient(186deg, rgba(255,28,128,0.7678100263852243) 0%, rgba(196,135,48,1) 47%, rgba(77,208,192,0.6517150395778364) 100%);
  z-index: 2;
}

.jumbotron video {
  position: absolute;
  z-index: -1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:60%;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}
.jumbotron{
  margin-bottom: 0px;
  background-image: url(../img/jumbotronbackground.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background: rgb(255,28,128);
  background: linear-gradient(186deg, rgba(255,28,128,0.7678100263852243) 0%, rgba(196,135,48,1) 47%, rgba(77,208,192,0.6517150395778364) 100%);
}

/* Section below hides elements not needed*/
#demonOrderTotal {
  display: none;
}